openapi: 3.0.3
info:
  title: Point API Docs
  description: >
    # Introduction

    This API is documented in **OpenAPI format**, You can find more information
    :


    - **Specs:**
    https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md#pathsObject

    - **Basic Structure:**
    https://swagger.io/docs/specification/basic-structure/

    - **Tutorial:**
    https://support.smartbear.com/swaggerhub/docs/tutorials/openapi-3-tutorial.html


    # Cross-Origin Resource Sharing

    This API features Cross-Origin Resource Sharing (CORS) implemented in
    compliance with  [W3C spec](https://www.w3.org/TR/cors/).

    And that allows cross-domain communication from the browser.

    All responses have a wildcard same-origin which makes them completely public
    and accessible to everyone, including any code on any site.


    # Authentication

    Ex-Module offers two forms of authentication:
      - Local Authentication
      - Json Web Token
  contact:
    name: API Support
    email: martiendt@gmail.com
    url: https://github.com/Redocly/redoc
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 0.0.1
servers:
  - url: https://api.point.red/v1
    description: Production Server
tags:
  - name: Admin
    description: >-
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
paths:
  /admins:
    get:
      tags:
        - Admin
      summary: Read all admin
      description: lorem ipsum
      parameters:
        - name: started
          required: true
          in: query
          description: filter joined admin
          schema:
            type: date
            example: '2022-02-22T00:00:00.0000Z'
        - name: ended
          required: true
          in: query
          description: filter joined admin
          schema:
            type: date
            example: '2022-02-24T00:00:00.0000Z'
        - name: timezone
          in: query
          description: setup timezone response
          schema:
            type: string
            default: UTC
            example: Asia/Jakarta
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 0
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: 90
                        address:
                          type: string
                          example: 100
  /inventory/transfer-items:
    get:
      tags:
        - Transfer Item
      summary: Read all transfer items
      description: null
      parameters:
        - name: join
          in: query
          description: multi value, divide with coma (,)
          schema:
            type: string
            example: form,item,items
        - name: fields
          in: query
          description: multi value, divide with coma (,)
          schema:
            type: string
            example: transfer_sent.*
        - name: sort_by
          in: query
          description: Sort the result by a key
          schema:
            type: string
            default: name
            example: '-form.number'
        - name: group_by
          in: query
          description: Group the result by a key
          schema:
            type: string
            example: '-form.id'
        - name: filter_like
          in: query
          schema:
            type: object
            properties:
              form.number:
                type: string
              item.name:
                type: string
              transfer_item_sent.production_number:
                type: string
              transfer_item_sent.expiry_date:
                type: string
        - name: filter_date_min
          in: query
          schema:
            type: object
            properties:
              form.date:
                type: date
        - name: filter_date_max
          in: query
          schema:
            type: object
            properties:
              form.date:
                type: date
        - name: limit
          in: query
          description: Data limit
          schema:
            type: integer
            example: 10
        - name: includes
          in: query
          description: multi value, divide with coma (,)
          schema:
            type: string
            example: form,items.item
        - name: page
          in: query
          description: Data page
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                      from:
                        type: integer
                      last_page:
                        type: integer
                      path:
                        type: string
                      per_page:
                        type: integer
                      to:
                        type: integer
                      total:
                        type: integer
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        warehouse_id:
                          type: integer
                        to_warehouse_id:
                          type: integer
                        driver:
                          type: integer
                        form:
                          type: object
                          properties:
                            id:
                              type: integer
                            branch_id:
                              type: integer
                            date:
                              type: date
                            number:
                              type: string
                            edited_number:
                              type: string
                            edited_notes:
                              type: string
                            notes:
                              type: string
                            created_by:
                              type: integer
                            updated_by:
                              type: integer
                            done:
                              type: integer
                            increment:
                              type: integer
                            increment_group:
                              type: integer
                            formable_id:
                              type: integer
                            formable_type:
                              type: string
                            request_approval_to:
                              type: integer
                            request_approval_at:
                              type: date
                            approval_by:
                              type: integer
                            approval_at:
                              type: date
                            approval_reason:
                              type: integer
                            approval_status:
                              type: integer
                            request_cancellation_to:
                              type: integer
                            request_cancellation_by:
                              type: integer
                            request_cancellation_at:
                              type: date
                            request_cancellation_reason:
                              type: string
                            cancellation_approval_at:
                              type: date
                            cancellation_approval_by:
                              type: integer
                            cancellation_approval_reason:
                              type: string
                            cancellation_status:
                              type: integer
                            created_at:
                              type: date
                            updated_at:
                              type: date
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              transfer_item_id:
                                type: integer
                              item_id:
                                type: integer
                              item_name:
                                type: string
                              quantity:
                                type: integer
                              expiry_date:
                                type: date
                              production_number:
                                type: string
                              unit:
                                type: string
                              converter:
                                type: integer
                              notes:
                                type: string
                              stock:
                                type: integer
                              balance:
                                type: integer
                              item:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  chart_of_account_id:
                                    type: integer
                                  code:
                                    type: integer
                                  barcode:
                                    type: integer
                                  name:
                                    type: integer
                                  size:
                                    type: integer
                                  color:
                                    type: integer
                                  weight:
                                    type: integer
                                  notes:
                                    type: integer
                                  taxable:
                                    type: integer
                                  require_production_number:
                                    type: integer
                                  equire_expiry_date:
                                    type: integer
                                  stock:
                                    type: integer
                                  stock_reminder:
                                    type: integer
                                  unit_default:
                                    type: integer
                                  unit_default_purchase:
                                    type: integer
                                  unit_default_sales:
                                    type: integer
                                  created_by:
                                    type: integer
                                  updated_by:
                                    type: integer
                                  archived_by:
                                    type: integer
                                  created_at:
                                    type: date
                                  updated_at:
                                    type: date
                                  archived_at:
                                    type: date
                                  label:
                                    type: string
    post:
      tags:
        - Transfer Item
      summary: Create new transfer item
      description: lorem ipsum
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                increment_group:
                  type: string
                date:
                  type: date
                warehouse_id:
                  type: integer
                warehouse_name:
                  type: string
                to_warehouse_id:
                  type: integer
                to_warehouse_name:
                  type: string
                driver:
                  type: string
                notes:
                  type: string
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      item_id:
                        type: integer
                      item_name:
                        type: string
                      unit:
                        type: string
                      converter:
                        type: integer
                      quantity:
                        type: integer
                      require_production_number:
                        type: boolean
                      require_expiry_date:
                        type: boolean
                      stock:
                        type: integer
                      balance:
                        type: integer
                      item:
                        type: object
                        properties:
                          index:
                            type: integer
                          id:
                            type: integer
                          name:
                            type: string
                          label:
                            type: string
                          require_production_number:
                            type: boolean
                          require_expiry_date:
                            type: boolean
                          unit_default:
                            type: integer
                          unit_default_purchase:
                            type: integer
                          unit_default_sales:
                            type: integer
                          unit:
                            type: object
                            properties:
                              id:
                                type: integer
                              label:
                                type: string
                              name:
                                type: string
                              converter:
                                type: integer
                              disabled:
                                type: boolean
                              item_id:
                                type: integer
                              created_by:
                                type: integer
                              update_by:
                                type: integer
                              created_at:
                                type: date
                              update_at:
                                type: date
                              price:
                                type: integer
                          item_label:
                            type: string
                      warehouse_id:
                        type: integer
                      index:
                        type: integer
                      dna:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            form_id:
                              type: integer
                            warehouse_id:
                              type: integer
                            item_id:
                              type: integer
                            quantity:
                              type: integer
                            expiry_date:
                              type: date
                            production_number:
                              type: string
                            need_recalculate:
                              type: boolean
                            quantity_reference:
                              type: integer
                            unit_reference:
                              type: string
                            converter_reference:
                              type: integer
                            is_posted:
                              type: boolean
                            created_at:
                              type: date
                            updated_at:
                              type: date
                            remaining:
                              type: integer
                            remainingInUnit:
                              type: integer
                          equire_expiry_date:
                            type: date
                          stock:
                            type: integer
                          stock_reminder:
                            type: integer
                          unit_default:
                            type: integer
                          unit_default_purchase:
                            type: integer
                          unit_default_sales:
                            type: integer
                          created_by:
                            type: integer
                          updated_by:
                            type: integer
                          archived_by:
                            type: integer
                          created_at:
                            type: date
                          updated_at:
                            type: date
                          archived_at:
                            type: date
                          label:
                            type: string
                request_approval_to:
                  type: integer
                approver_name:
                  type: string
                approver_email:
                  type: string
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      warehouse_id:
                        type: integer
                      to_warehouse_id:
                        type: integer
                      driver:
                        type: integer
                      id:
                        type: string
                      form:
                        type: object
                        properties:
                          id:
                            type: integer
                          branch_id:
                            type: integer
                          date:
                            type: date
                          number:
                            type: string
                          edited_number:
                            type: string
                          edited_notes:
                            type: string
                          notes:
                            type: string
                          created_by:
                            type: integer
                          updated_by:
                            type: integer
                          done:
                            type: integer
                          increment:
                            type: integer
                          increment_group:
                            type: integer
                          formable_id:
                            type: integer
                          formable_type:
                            type: string
                          request_approval_to:
                            type: integer
                          request_approval_at:
                            type: date
                          approval_by:
                            type: integer
                          approval_at:
                            type: date
                          approval_reason:
                            type: integer
                          approval_status:
                            type: integer
                          request_cancellation_to:
                            type: integer
                          request_cancellation_by:
                            type: integer
                          request_cancellation_at:
                            type: date
                          request_cancellation_reason:
                            type: string
                          cancellation_approval_at:
                            type: date
                          cancellation_approval_by:
                            type: integer
                          cancellation_approval_reason:
                            type: string
                          cancellation_status:
                            type: integer
                          created_at:
                            type: date
                          updated_at:
                            type: date
                      warehouse:
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: string
                          name:
                            type: string
                          address:
                            type: string
                          phone:
                            type: string
                          notes:
                            type: string
                          branch_id:
                            type: integer
                          created_by:
                            type: integer
                          updated_by:
                            type: integer
                          archived_by:
                            type: integer
                          created_at:
                            type: date
                          updated_at:
                            type: date
                          archived_at:
                            type: date
                          label:
                            type: string
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            transfer_item_id:
                              type: integer
                            item_id:
                              type: integer
                            item_name:
                              type: string
                            quantity:
                              type: integer
                            expiry_date:
                              type: date
                            production_number:
                              type: string
                            unit:
                              type: string
                            converter:
                              type: integer
                            notes:
                              type: string
                            stock:
                              type: integer
                            balance:
                              type: integer
                            item:
                              type: object
                              properties:
                                id:
                                  type: integer
                                chart_of_account_id:
                                  type: integer
                                code:
                                  type: integer
                                barcode:
                                  type: integer
                                name:
                                  type: integer
                                size:
                                  type: integer
                                color:
                                  type: integer
                                weight:
                                  type: integer
                                notes:
                                  type: integer
                                taxable:
                                  type: integer
                                require_production_number:
                                  type: integer
                                equire_expiry_date:
                                  type: integer
                                stock:
                                  type: integer
                                stock_reminder:
                                  type: integer
                                unit_default:
                                  type: integer
                                unit_default_purchase:
                                  type: integer
                                unit_default_sales:
                                  type: integer
                                created_by:
                                  type: integer
                                updated_by:
                                  type: integer
                                archived_by:
                                  type: integer
                                created_at:
                                  type: date
                                updated_at:
                                  type: date
                                archived_at:
                                  type: date
                                label:
                                  type: string
  /inventory/transfer-items/{id}:
    get:
      tags:
        - Transfer Item
      summary: Read transfer item
      description: null
      parameters:
        - name: id
          in: path
          required: true
          description: Transfer Item ID
          schema:
            type: integer
        - name: with_archives
          in: query
          schema:
            type: boolean
            default: true
        - name: with_origin
          in: query
          schema:
            type: boolean
            default: true
        - name: includes
          in: query
          description: multi value, divide with coma (;)
          schema:
            type: string
            example: >-
              warehouse;to_warehouse;items.item;form.createdBy;form.requestApprovalTo;form.branch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      warehouse_id:
                        type: integer
                      warehouse:
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: string
                          name:
                            type: string
                          address:
                            type: string
                          phone:
                            type: string
                          notes:
                            type: string
                          branch_id:
                            type: integer
                          created_by:
                            type: integer
                          updated_by:
                            type: integer
                          archived_by:
                            type: integer
                          created_at:
                            type: date
                          updated_at:
                            type: date
                          archived_at:
                            type: date
                          label:
                            type: string
                      to_warehouse_id:
                        type: integer
                      to_warehouse:
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: string
                          name:
                            type: string
                          address:
                            type: string
                          phone:
                            type: string
                          notes:
                            type: string
                          branch_id:
                            type: integer
                          created_by:
                            type: integer
                          updated_by:
                            type: integer
                          archived_by:
                            type: integer
                          created_at:
                            type: date
                          updated_at:
                            type: date
                          archived_at:
                            type: date
                          label:
                            type: string
                      driver:
                        type: string
                      form:
                        type: object
                        properties:
                          id:
                            type: integer
                          branch_id:
                            type: integer
                          date:
                            type: date
                          number:
                            type: string
                          edited_number:
                            type: string
                          edited_notes:
                            type: string
                          notes:
                            type: string
                          created_by:
                            type: integer
                          updated_by:
                            type: integer
                          done:
                            type: integer
                          increment:
                            type: integer
                          increment_group:
                            type: integer
                          formable_id:
                            type: integer
                          formable_type:
                            type: string
                          request_approval_to:
                            type: integer
                          request_approval_at:
                            type: date
                          approval_by:
                            type: integer
                          approval_at:
                            type: date
                          approval_reason:
                            type: integer
                          approval_status:
                            type: integer
                          request_cancellation_to:
                            type: integer
                          request_cancellation_by:
                            type: integer
                          request_cancellation_at:
                            type: date
                          request_cancellation_reason:
                            type: string
                          cancellation_approval_at:
                            type: date
                          cancellation_approval_by:
                            type: integer
                          cancellation_approval_reason:
                            type: string
                          cancellation_status:
                            type: integer
                          created_at:
                            type: date
                          updated_at:
                            type: date
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            transfer_item_id:
                              type: integer
                            item_id:
                              type: integer
                            item_name:
                              type: string
                            quantity:
                              type: integer
                            expiry_date:
                              type: date
                            production_number:
                              type: string
                            unit:
                              type: string
                            converter:
                              type: integer
                            notes:
                              type: string
                            stock:
                              type: integer
                            balance:
                              type: integer
                            item:
                              type: object
                              properties:
                                id:
                                  type: integer
                                chart_of_account_id:
                                  type: integer
                                code:
                                  type: integer
                                barcode:
                                  type: integer
                                name:
                                  type: integer
                                size:
                                  type: integer
                                color:
                                  type: integer
                                weight:
                                  type: integer
                                notes:
                                  type: integer
                                taxable:
                                  type: integer
                                require_production_number:
                                  type: integer
                                equire_expiry_date:
                                  type: integer
                                stock:
                                  type: integer
                                stock_reminder:
                                  type: integer
                                unit_default:
                                  type: integer
                                unit_default_purchase:
                                  type: integer
                                unit_default_sales:
                                  type: integer
                                created_by:
                                  type: integer
                                updated_by:
                                  type: integer
                                archived_by:
                                  type: integer
                                created_at:
                                  type: date
                                updated_at:
                                  type: date
                                archived_at:
                                  type: date
                                label:
                                  type: string
    patch:
      tags:
        - Transfer Item
      summary: Update transfer item
      description: null
      parameters:
        - name: id
          in: path
          required: true
          description: Transfer Item ID
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                increment_group:
                  type: string
                date:
                  type: date
                warehouse_id:
                  type: integer
                warehouse_name:
                  type: string
                to_warehouse_id:
                  type: integer
                to_warehouse_name:
                  type: string
                driver:
                  type: string
                notes:
                  type: string
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      item_id:
                        type: integer
                      item_name:
                        type: string
                      unit:
                        type: string
                      converter:
                        type: integer
                      quantity:
                        type: integer
                      require_production_number:
                        type: boolean
                      require_expiry_date:
                        type: boolean
                      stock:
                        type: integer
                      balance:
                        type: integer
                      item:
                        type: object
                        properties:
                          index:
                            type: integer
                          id:
                            type: integer
                          name:
                            type: string
                          label:
                            type: string
                          require_production_number:
                            type: boolean
                          require_expiry_date:
                            type: boolean
                          unit_default:
                            type: integer
                          unit_default_purchase:
                            type: integer
                          unit_default_sales:
                            type: integer
                          unit:
                            type: object
                            properties:
                              id:
                                type: integer
                              label:
                                type: string
                              name:
                                type: string
                              converter:
                                type: integer
                              disabled:
                                type: boolean
                              item_id:
                                type: integer
                              created_by:
                                type: integer
                              update_by:
                                type: integer
                              created_at:
                                type: date
                              update_at:
                                type: date
                              price:
                                type: integer
                          item_label:
                            type: string
                      warehouse_id:
                        type: integer
                      index:
                        type: integer
                      dna:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            form_id:
                              type: integer
                            warehouse_id:
                              type: integer
                            item_id:
                              type: integer
                            quantity:
                              type: integer
                            expiry_date:
                              type: date
                            production_number:
                              type: string
                            need_recalculate:
                              type: boolean
                            quantity_reference:
                              type: integer
                            unit_reference:
                              type: string
                            converter_reference:
                              type: integer
                            is_posted:
                              type: boolean
                            created_at:
                              type: date
                            updated_at:
                              type: date
                            remaining:
                              type: integer
                            remainingInUnit:
                              type: integer
                          equire_expiry_date:
                            type: date
                          stock:
                            type: integer
                          stock_reminder:
                            type: integer
                          unit_default:
                            type: integer
                          unit_default_purchase:
                            type: integer
                          unit_default_sales:
                            type: integer
                          created_by:
                            type: integer
                          updated_by:
                            type: integer
                          archived_by:
                            type: integer
                          created_at:
                            type: date
                          updated_at:
                            type: date
                          archived_at:
                            type: date
                          label:
                            type: string
                request_approval_to:
                  type: integer
                approver_name:
                  type: string
                approver_email:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      warehouse_id:
                        type: integer
                      warehouse:
                        type: object
                        properties:
                          id:
                            type: integer
                          code:
                            type: string
                          name:
                            type: string
                          address:
                            type: string
                          phone:
                            type: string
                          notes:
                            type: string
                          branch_id:
                            type: integer
                          created_by:
                            type: integer
                          updated_by:
                            type: integer
                          archived_by:
                            type: integer
                          created_at:
                            type: date
                          updated_at:
                            type: date
                          archived_at:
                            type: date
                          label:
                            type: string
                      to_warehouse_id:
                        type: integer
                      driver:
                        type: string
                      form:
                        type: object
                        properties:
                          id:
                            type: integer
                          branch_id:
                            type: integer
                          date:
                            type: date
                          number:
                            type: string
                          edited_number:
                            type: string
                          edited_notes:
                            type: string
                          notes:
                            type: string
                          created_by:
                            type: integer
                          updated_by:
                            type: integer
                          done:
                            type: integer
                          increment:
                            type: integer
                          increment_group:
                            type: integer
                          formable_id:
                            type: integer
                          formable_type:
                            type: string
                          request_approval_to:
                            type: integer
                          request_approval_at:
                            type: date
                          approval_by:
                            type: integer
                          approval_at:
                            type: date
                          approval_reason:
                            type: integer
                          approval_status:
                            type: integer
                          request_cancellation_to:
                            type: integer
                          request_cancellation_by:
                            type: integer
                          request_cancellation_at:
                            type: date
                          request_cancellation_reason:
                            type: string
                          cancellation_approval_at:
                            type: date
                          cancellation_approval_by:
                            type: integer
                          cancellation_approval_reason:
                            type: string
                          cancellation_status:
                            type: integer
                          created_at:
                            type: date
                          updated_at:
                            type: date
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            transfer_item_id:
                              type: integer
                            item_id:
                              type: integer
                            item_name:
                              type: string
                            quantity:
                              type: integer
                            expiry_date:
                              type: date
                            production_number:
                              type: string
                            unit:
                              type: string
                            converter:
                              type: integer
                            notes:
                              type: string
                            stock:
                              type: integer
                            balance:
                              type: integer
                            item:
                              type: object
                              properties:
                                id:
                                  type: integer
                                chart_of_account_id:
                                  type: integer
                                code:
                                  type: integer
                                barcode:
                                  type: integer
                                name:
                                  type: integer
                                size:
                                  type: integer
                                color:
                                  type: integer
                                weight:
                                  type: integer
                                notes:
                                  type: integer
                                taxable:
                                  type: integer
                                require_production_number:
                                  type: integer
                                equire_expiry_date:
                                  type: integer
                                stock:
                                  type: integer
                                stock_reminder:
                                  type: integer
                                unit_default:
                                  type: integer
                                unit_default_purchase:
                                  type: integer
                                unit_default_sales:
                                  type: integer
                                created_by:
                                  type: integer
                                updated_by:
                                  type: integer
                                archived_by:
                                  type: integer
                                created_at:
                                  type: date
                                updated_at:
                                  type: date
                                archived_at:
                                  type: date
                                label:
                                  type: string
        '422':
          description: Unprocessable entity
    delete:
      tags:
        - Transfer Item
      summary: Delete transfer item
      description: null
      parameters:
        - name: id
          in: path
          required: true
          description: Transfer Item ID
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '204':
          description: No Content
  /inventory/transfer-items/export:
    post:
      tags:
        - Transfer Item
      summary: Export transfer items
      description: null
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    ids:
                      type: array
                      items:
                        id:
                          type: integer
                    date_start:
                      type: date
                    date_end:
                      type: date
      responses:
        '200':
          description: null
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
  /api/v1/finance/cash-advances:
    get:
      tags:
        - Cash Advance
      summary: Read all cash advances
      security:
        - bearerAuth: []
      parameters:
        - name: join
          in: query
          schema:
            type: string
            example: form,details,account,employee
        - name: sort_by
          in: query
          schema:
            type: string
            example: '-form.number'
        - name: group_by
          in: query
          schema:
            type: string
            example: cash_advance.id
        - name: fields
          in: query
          schema:
            type: string
            example: cash_advance.*
        - name: filter_form
          in: query
          schema:
            type: string
            example: notArchived;null
        - name: filter_like
          in: query
          schema:
            type: string
            example: '{}'
        - name: filter_date_min
          in: query
          schema:
            type: string
            example: '{"form.date":"20220501 00:00:00"}'
        - name: filter_date_max
          in: query
          schema:
            type: string
            example: '{"form.date":"20220514 23:59:59"}'
        - name: limit
          in: query
          schema:
            type: integer
            example: '10'
        - name: includes
          in: query
          schema:
            type: string
            example: employee;form;details.account;
        - name: page
          in: query
          schema:
            type: integer
            example: '1'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        format: int32
                      from:
                        type: integer
                        format: int32
                      last_page:
                        type: integer
                        format: int32
                      path:
                        type: string
                      per_page:
                        type: string
                      to:
                        type: integer
                        format: int32
                      total:
                        type: integer
                        format: int32
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int32
                        payment_type:
                          type: string
                        employee_id:
                          type: integer
                          format: int32
                        amount:
                          type: integer
                          format: int32
                        amount_remaining:
                          type: integer
                          format: int32
                        created_at:
                          type: string
                        archived_at:
                          type: string
                          format: nullable
                        last_request_approval_at:
                          type: string
                        employee:
                          type: object
                          properties:
                            id:
                              type: integer
                              format: int32
                            code:
                              type: string
                              format: nullable
                            tax_identification_number:
                              type: string
                              format: nullable
                            name:
                              type: string
                            address:
                              type: string
                              format: nullable
                            city:
                              type: string
                              format: nullable
                            state:
                              type: string
                              format: nullable
                            country:
                              type: string
                              format: nullable
                            zip_code:
                              type: string
                              format: nullable
                            latitude:
                              type: string
                              format: nullable
                            longitude:
                              type: string
                              format: nullable
                            phone:
                              type: string
                              format: nullable
                            phone_cc:
                              type: string
                              format: nullable
                            email:
                              type: string
                              format: nullable
                            bpjs:
                              type: string
                              format: nullable
                            resign_date:
                              type: string
                              format: nullable
                            personal_identity:
                              type: string
                            last_education:
                              type: string
                              format: nullable
                            birth_date:
                              type: string
                              format: nullable
                            birth_place:
                              type: string
                              format: nullable
                            employee_gender_id:
                              type: string
                              format: nullable
                            employee_marital_status_id:
                              type: string
                              format: nullable
                            married_with:
                              type: string
                              format: nullable
                            employee_religion_id:
                              type: string
                              format: nullable
                            employee_group_id:
                              type: string
                              format: nullable
                            employee_status_id:
                              type: string
                              format: nullable
                            employee_job_location_id:
                              type: string
                              format: nullable
                            join_date:
                              type: string
                              format: nullable
                            job_title:
                              type: string
                              format: nullable
                            kpi_template_id:
                              type: string
                              format: nullable
                            notes:
                              type: string
                              format: nullable
                            daily_transport_allowance:
                              type: integer
                              format: int32
                            functional_allowance:
                              type: integer
                              format: int32
                            communication_allowance:
                              type: integer
                              format: int32
                            branch_id:
                              type: string
                              format: nullable
                            user_id:
                              type: string
                              format: nullable
                            created_by:
                              type: string
                              format: nullable
                            updated_by:
                              type: string
                              format: nullable
                            archived_by:
                              type: string
                              format: nullable
                            created_at:
                              type: string
                            updated_at:
                              type: string
                            archived_at:
                              type: string
                              format: nullable
                            label:
                              type: string
                        form:
                          type: object
                          properties:
                            id:
                              type: integer
                              format: int32
                            branch_id:
                              type: integer
                              format: int32
                            date:
                              type: string
                            number:
                              type: string
                            edited_number:
                              type: string
                              format: nullable
                            edited_notes:
                              type: string
                              format: nullable
                            notes:
                              type: string
                              format: nullable
                            created_by:
                              type: integer
                              format: int32
                            updated_by:
                              type: integer
                              format: int32
                            done:
                              type: integer
                              format: int32
                            increment:
                              type: integer
                              format: int32
                            increment_group:
                              type: integer
                              format: int32
                            formable_id:
                              type: integer
                              format: int32
                            formable_type:
                              type: string
                            request_approval_to:
                              type: integer
                              format: int32
                            approval_by:
                              type: integer
                              format: int32
                            approval_at:
                              type: string
                            approval_reason:
                              type: string
                              format: nullable
                            approval_status:
                              type: integer
                              format: int32
                            request_cancellation_to:
                              type: string
                              format: nullable
                            request_cancellation_by:
                              type: string
                              format: nullable
                            request_cancellation_at:
                              type: string
                              format: nullable
                            request_cancellation_reason:
                              type: string
                              format: nullable
                            cancellation_approval_at:
                              type: string
                              format: nullable
                            cancellation_approval_by:
                              type: string
                              format: nullable
                            cancellation_approval_reason:
                              type: string
                              format: nullable
                            cancellation_status:
                              type: string
                              format: nullable
                            created_at:
                              type: string
                            updated_at:
                              type: string
                        details:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                format: int32
                              cash_advance_id:
                                type: integer
                                format: int32
                              chart_of_account_id:
                                type: integer
                                format: int32
                              amount:
                                type: integer
                                format: int32
                              notes:
                                type: string
                              account:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                    format: int32
                                  type_id:
                                    type: integer
                                    format: int32
                                  group_id:
                                    type: string
                                    format: nullable
                                  is_sub_ledger:
                                    type: integer
                                    format: int32
                                  sub_ledger:
                                    type: string
                                  position:
                                    type: string
                                  is_locked:
                                    type: integer
                                    format: int32
                                  cash_flow:
                                    type: string
                                  cash_flow_position:
                                    type: string
                                  number:
                                    type: string
                                  name:
                                    type: string
                                  alias:
                                    type: string
                                  created_by:
                                    type: string
                                    format: nullable
                                  updated_by:
                                    type: string
                                    format: nullable
                                  archived_by:
                                    type: string
                                    format: nullable
                                  created_at:
                                    type: string
                                  updated_at:
                                    type: string
                                  archived_at:
                                    type: string
                                    format: nullable
                                  label:
                                    type: string
    post:
      tags:
        - Cash Advance
      summary: Create new cash advance
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                increment_group:
                  type: integer
                  example: '202205'
                date:
                  type: string
                  example: '2022-05-15 09:22:15'
                payment_type:
                  type: string
                  example: cash
                employee_id:
                  type: integer
                  example: '1'
                employee_name:
                  type: string
                  example: John Doe
                request_approval_to:
                  type: integer
                  example: '3'
                approver_name:
                  type: string
                  example: admin admin
                approver_email:
                  type: string
                  example: game.pak.bedjo@gmail.com
                amount:
                  type: integer
                  example: '0'
                notes:
                  type: string
                  example: Notes Form
                activity:
                  type: string
                  example: Created
                details[0][chart_of_account_id]:
                  type: integer
                  example: '1'
                details[0][chart_of_account_name]:
                  type: string
                  example: '[11101] KAS KECIL'
                details[0][amount]:
                  type: integer
                  example: '5000'
                details[0][notes]:
                  type: string
                  example: Notes
      security:
        - bearerAuth: []
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      payment_type:
                        type: string
                      employee_id:
                        type: string
                      amount:
                        type: integer
                        format: int32
                      amount_remaining:
                        type: integer
                        format: int32
                      created_at:
                        type: string
                      id:
                        type: integer
                        format: int32
                      form:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int32
                          branch_id:
                            type: integer
                            format: int32
                          date:
                            type: string
                          number:
                            type: string
                          edited_number:
                            type: string
                            format: nullable
                          edited_notes:
                            type: string
                            format: nullable
                          notes:
                            type: string
                          created_by:
                            type: integer
                            format: int32
                          updated_by:
                            type: integer
                            format: int32
                          done:
                            type: integer
                            format: int32
                          increment:
                            type: integer
                            format: int32
                          increment_group:
                            type: integer
                            format: int32
                          formable_id:
                            type: integer
                            format: int32
                          formable_type:
                            type: string
                          request_approval_to:
                            type: integer
                            format: int32
                          approval_by:
                            type: string
                            format: nullable
                          approval_at:
                            type: string
                            format: nullable
                          approval_reason:
                            type: string
                            format: nullable
                          approval_status:
                            type: integer
                            format: int32
                          request_cancellation_to:
                            type: string
                            format: nullable
                          request_cancellation_by:
                            type: string
                            format: nullable
                          request_cancellation_at:
                            type: string
                            format: nullable
                          request_cancellation_reason:
                            type: string
                            format: nullable
                          cancellation_approval_at:
                            type: string
                            format: nullable
                          cancellation_approval_by:
                            type: string
                            format: nullable
                          cancellation_approval_reason:
                            type: string
                            format: nullable
                          cancellation_status:
                            type: string
                            format: nullable
                          created_at:
                            type: string
                          updated_at:
                            type: string
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              format: int32
                            cash_advance_id:
                              type: integer
                              format: int32
                            chart_of_account_id:
                              type: integer
                              format: int32
                            amount:
                              type: integer
                              format: int32
                            notes:
                              type: string
                            account:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  format: int32
                                type_id:
                                  type: integer
                                  format: int32
                                group_id:
                                  type: string
                                  format: nullable
                                is_sub_ledger:
                                  type: integer
                                  format: int32
                                sub_ledger:
                                  type: string
                                position:
                                  type: string
                                is_locked:
                                  type: integer
                                  format: int32
                                cash_flow:
                                  type: string
                                cash_flow_position:
                                  type: string
                                number:
                                  type: string
                                name:
                                  type: string
                                alias:
                                  type: string
                                created_by:
                                  type: string
                                  format: nullable
                                updated_by:
                                  type: string
                                  format: nullable
                                archived_by:
                                  type: string
                                  format: nullable
                                created_at:
                                  type: string
                                updated_at:
                                  type: string
                                archived_at:
                                  type: string
                                  format: nullable
                                label:
                                  type: string
                      employee:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int32
                          code:
                            type: string
                            format: nullable
                          tax_identification_number:
                            type: string
                            format: nullable
                          name:
                            type: string
                          address:
                            type: string
                            format: nullable
                          city:
                            type: string
                            format: nullable
                          state:
                            type: string
                            format: nullable
                          country:
                            type: string
                            format: nullable
                          zip_code:
                            type: string
                            format: nullable
                          latitude:
                            type: string
                            format: nullable
                          longitude:
                            type: string
                            format: nullable
                          phone:
                            type: string
                            format: nullable
                          phone_cc:
                            type: string
                            format: nullable
                          email:
                            type: string
                            format: nullable
                          bpjs:
                            type: string
                            format: nullable
                          resign_date:
                            type: string
                            format: nullable
                          personal_identity:
                            type: string
                          last_education:
                            type: string
                            format: nullable
                          birth_date:
                            type: string
                            format: nullable
                          birth_place:
                            type: string
                            format: nullable
                          employee_gender_id:
                            type: string
                            format: nullable
                          employee_marital_status_id:
                            type: string
                            format: nullable
                          married_with:
                            type: string
                            format: nullable
                          employee_religion_id:
                            type: string
                            format: nullable
                          employee_group_id:
                            type: string
                            format: nullable
                          employee_status_id:
                            type: string
                            format: nullable
                          employee_job_location_id:
                            type: string
                            format: nullable
                          join_date:
                            type: string
                            format: nullable
                          job_title:
                            type: string
                            format: nullable
                          kpi_template_id:
                            type: string
                            format: nullable
                          notes:
                            type: string
                            format: nullable
                          daily_transport_allowance:
                            type: integer
                            format: int32
                          functional_allowance:
                            type: integer
                            format: int32
                          communication_allowance:
                            type: integer
                            format: int32
                          branch_id:
                            type: string
                            format: nullable
                          user_id:
                            type: string
                            format: nullable
                          created_by:
                            type: string
                            format: nullable
                          updated_by:
                            type: string
                            format: nullable
                          archived_by:
                            type: string
                            format: nullable
                          created_at:
                            type: string
                          updated_at:
                            type: string
                          archived_at:
                            type: string
                            format: nullable
                          label:
                            type: string
  /api/v1/finance/cash-advances/{id}:
    get:
      tags:
        - Cash Advance
      summary: Read cash advance
      security:
        - bearerAuth: []
      parameters:
        - name: includes
          in: query
          schema:
            type: string
          example: employee;form;details.account;form.requestApprovalTo;form.branch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      payment_type:
                        type: string
                      employee_id:
                        type: integer
                        format: int32
                      amount:
                        type: integer
                        format: int32
                      amount_remaining:
                        type: integer
                        format: int32
                      created_at:
                        type: string
                      archived_at:
                        type: string
                        format: nullable
                      last_request_approval_at:
                        type: string
                        format: nullable
                      employee:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int32
                          code:
                            type: string
                            format: nullable
                          tax_identification_number:
                            type: string
                            format: nullable
                          name:
                            type: string
                          address:
                            type: string
                            format: nullable
                          city:
                            type: string
                            format: nullable
                          state:
                            type: string
                            format: nullable
                          country:
                            type: string
                            format: nullable
                          zip_code:
                            type: string
                            format: nullable
                          latitude:
                            type: string
                            format: nullable
                          longitude:
                            type: string
                            format: nullable
                          phone:
                            type: string
                            format: nullable
                          phone_cc:
                            type: string
                            format: nullable
                          email:
                            type: string
                            format: nullable
                          bpjs:
                            type: string
                            format: nullable
                          resign_date:
                            type: string
                            format: nullable
                          personal_identity:
                            type: string
                          last_education:
                            type: string
                            format: nullable
                          birth_date:
                            type: string
                            format: nullable
                          birth_place:
                            type: string
                            format: nullable
                          employee_gender_id:
                            type: string
                            format: nullable
                          employee_marital_status_id:
                            type: string
                            format: nullable
                          married_with:
                            type: string
                            format: nullable
                          employee_religion_id:
                            type: string
                            format: nullable
                          employee_group_id:
                            type: string
                            format: nullable
                          employee_status_id:
                            type: string
                            format: nullable
                          employee_job_location_id:
                            type: string
                            format: nullable
                          join_date:
                            type: string
                            format: nullable
                          job_title:
                            type: string
                            format: nullable
                          kpi_template_id:
                            type: string
                            format: nullable
                          notes:
                            type: string
                            format: nullable
                          daily_transport_allowance:
                            type: integer
                            format: int32
                          functional_allowance:
                            type: integer
                            format: int32
                          communication_allowance:
                            type: integer
                            format: int32
                          branch_id:
                            type: string
                            format: nullable
                          user_id:
                            type: string
                            format: nullable
                          created_by:
                            type: string
                            format: nullable
                          updated_by:
                            type: string
                            format: nullable
                          archived_by:
                            type: string
                            format: nullable
                          created_at:
                            type: string
                          updated_at:
                            type: string
                          archived_at:
                            type: string
                            format: nullable
                          label:
                            type: string
                      form:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: int32
                          branch_id:
                            type: integer
                            format: int32
                          date:
                            type: string
                          number:
                            type: string
                          edited_number:
                            type: string
                            format: nullable
                          edited_notes:
                            type: string
                            format: nullable
                          notes:
                            type: string
                          created_by:
                            type: integer
                            format: int32
                          updated_by:
                            type: integer
                            format: int32
                          done:
                            type: integer
                            format: int32
                          increment:
                            type: integer
                            format: int32
                          increment_group:
                            type: integer
                            format: int32
                          formable_id:
                            type: integer
                            format: int32
                          formable_type:
                            type: string
                          request_approval_to:
                            type: object
                            properties:
                              id:
                                type: integer
                                format: int32
                              name:
                                type: string
                              first_name:
                                type: string
                              last_name:
                                type: string
                              address:
                                type: string
                                format: nullable
                              phone:
                                type: string
                                format: nullable
                              email:
                                type: string
                              created_at:
                                type: string
                              updated_at:
                                type: string
                              branch_id:
                                type: string
                                format: nullable
                              warehouse_id:
                                type: string
                                format: nullable
                              full_name:
                                type: string
                          approval_by:
                            type: integer
                            format: int32
                          approval_at:
                            type: string
                          approval_reason:
                            type: string
                            format: nullable
                          approval_status:
                            type: integer
                            format: int32
                          request_cancellation_to:
                            type: string
                            format: nullable
                          request_cancellation_by:
                            type: string
                            format: nullable
                          request_cancellation_at:
                            type: string
                            format: nullable
                          request_cancellation_reason:
                            type: string
                            format: nullable
                          cancellation_approval_at:
                            type: string
                            format: nullable
                          cancellation_approval_by:
                            type: string
                            format: nullable
                          cancellation_approval_reason:
                            type: string
                            format: nullable
                          cancellation_status:
                            type: string
                            format: nullable
                          created_at:
                            type: string
                          updated_at:
                            type: string
                          is_updated:
                            type: boolean
                          branch:
                            type: object
                            properties:
                              id:
                                type: integer
                                format: int32
                              name:
                                type: string
                              address:
                                type: string
                                format: nullable
                              phone:
                                type: string
                                format: nullable
                              created_by:
                                type: string
                                format: nullable
                              updated_by:
                                type: string
                                format: nullable
                              archived_by:
                                type: string
                                format: nullable
                              created_at:
                                type: string
                              updated_at:
                                type: string
                              archived_at:
                                type: string
                                format: nullable
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              format: int32
                            cash_advance_id:
                              type: integer
                              format: int32
                            chart_of_account_id:
                              type: integer
                              format: int32
                            amount:
                              type: integer
                              format: int32
                            notes:
                              type: string
                            account:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  format: int32
                                type_id:
                                  type: integer
                                  format: int32
                                group_id:
                                  type: string
                                  format: nullable
                                is_sub_ledger:
                                  type: integer
                                  format: int32
                                sub_ledger:
                                  type: string
                                position:
                                  type: string
                                is_locked:
                                  type: integer
                                  format: int32
                                cash_flow:
                                  type: string
                                cash_flow_position:
                                  type: string
                                number:
                                  type: string
                                name:
                                  type: string
                                alias:
                                  type: string
                                created_by:
                                  type: string
                                  format: nullable
                                updated_by:
                                  type: string
                                  format: nullable
                                archived_by:
                                  type: string
                                  format: nullable
                                created_at:
                                  type: string
                                updated_at:
                                  type: string
                                archived_at:
                                  type: string
                                  format: nullable
                                label:
                                  type: string
    patch:
      tags:
        - Cash Advance
      summary: Update cash advance
      requestBody:
        content:
          application/x-www-form-urlencoded:
[...]
